@charset "utf-8";
/* CSS Document */

.clsBigBig{
	width: 520px;
	height: 308px;
	background: pink;
}

.clsBigBig .clsBig{
	position: relative;
	width: 200px;
	height: 305px;
	float: left;
	margin-right: 15px;
}
.clsBigBig .clsBig img{
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 1;
	width: 200px;
	height: 305px;
	float: left;
}

.clsBigBig .clsBig a{
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 2;
	
	text-decoration: none;
	font-size: 14px;
	color: #6f6fea;
    background-color: rgba(10, 6, 6, 0.65);
	display: block;
	padding: 6px;
	text-align: justify;
}
.clsBigBig .clsBig a:hover{
	color: red;
	text-decoration: line-through;
}


.clsBigBig .clsSmall{
	width: 300;
	height: 100px;
	float:left;
}
.clsBigBig .clsSmall .clsImage_1{
	width: 300px;
	height: 100px;
}
.clsBigBig .clsSmall .clsImage_1 article{
	border-bottom: 1px solid #cec4c4;
}
.clsBigBig .clsSmall .clsImage_1 img{
	width: 100;
	height: 90px;
	float: left;
	margin-right: 10px;
}
.clsBigBig .clsSmall .clsImage_1 a{
	text-decoration: none;
	font-size: 12px;
    font-weight: bold;
	color: #ff9800;
}
.clsBigBig .clsSmall .clsImage_1 a:hover{
	color: black;
	text-decoration: overline;
}
.clsBigBig .clsSmall .clsImage_1 p{
	font-size: 12px;
	color: black;
}

.clsBigBig .clsSmall .clsImage_2{
	width:300px;
	height: 100px;
		margin-top: 5px;
}
.clsBigBig .clsSmall .clsImage_2 article{
	border-bottom: 1px solid #cec4c4;
}
.clsBigBig .clsSmall .clsImage_2 img{
	width: 100;
	height: 90px;
	float: left;
	margin-right: 10px;
}
.clsBigBig .clsSmall .clsImage_2 a{
	text-decoration: none;
	font-size: 12px;
    font-weight: bold;
	color: #ff9800;
}
.clsBigBig .clsSmall .clsImage_2 a:hover{
	color: black;
	text-decoration: overline;
}
.clsBigBig .clsSmall .clsImage_2 p{
	font-size: 12px;
	color: black;
}

.clsBigBig .clsSmall .clsImage_3{
	width: 300px;
	height: 100px;
		margin-top: 5px;
}

.clsBigBig .clsSmall .clsImage_3 img{
	width: 100;
	height: 90px;
	float: left;
	margin-right: 10px;
}
.clsBigBig .clsSmall .clsImage_3 a{
	text-decoration: none;;
	font-size: 12px;
    font-weight: bold;
	color: #ff9800;
}
.clsBigBig .clsSmall .clsImage_3 a:hover{
	color: black;
	text-decoration: overline;
}
.clsBigBig .clsSmall .clsImage_3 p{
	font-size: 12px;
	color: black;
}
